* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
.active-link {
    text-decoration: underline;
    color: #000 !important;
    font-weight: 600;
}

#header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .nav .menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 30px 0;
}
#header .nav .menu .menu-item .menu-link {
    font-size: 20px;
    color: darkgray;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 50px;
}
.box-container .box {
    border: 1px solid darkblue;
    padding: 20px;
    border-radius: 5px;
}
.box-container .box .image > img {
    width: 100%;
    border-radius: 5px;
}
.box-container .box .title > h1 {
    margin: 10px 0;
}

@media screen and (max-width: 755px) {
    #header .nav .menu .menu-item .menu-link {
        font-size: 14px;
    }
    .box-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .box-container .box {
        border: 1px solid darkgray;
    }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}