.container {
    max-width: 1178px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.batch {
    background-color: lightcoral;
    padding: 0 5px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}