/* Google font css link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

/* Global css */
:root {
    --primary-color: #FD6E0A;
    --primary-color-hover: #e66000;
    --font-heading-color: #181818;
    --font-normal-color: #757575;
    --menu-font-color: #474747;

    --font-size-xs: 16px;
    --font-size-s: 18px;
    --font-size-m: 20px;
    --font-size-l: 35px;
    --font-size-xl: 45px;
    --font-size-xxl: 85px;

    --font-weight-normal: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary {
    background-color: var(--primary-color);
    padding: 15px 35px;
    color: #fff;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: var(--primary-color-hover);
}
.btn-alt {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px 35px;
    color: var(--primary-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}
button > i {
    margin: 0 10px 0 0;
}
.section-title {
    color: var(--font-heading-color);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    text-align: center;
}
.section-desc {
    color: var(--font-normal-color);
    font-size: var(--font-size-s);
    text-align: center;
    margin: 30px 0;
}
.container {
    width: 1040px;
    margin: auto;
}

/* nav styles */
nav {
    padding: 25px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .title {
    color: var(--font-heading-color);
    font-size: 45px;
    font-weight: var(--font-weight-extra-bold);
}
nav .title > span {
    color: var(--primary-color);
}
nav .menu {
    display: flex;
    align-items: center;
}
nav .menu-item {
    list-style: none;
    margin: 0 0 0 50px;
}
nav .menu-item > a {
    text-decoration: none;
    color: var(--menu-font-color);
    font-size: 20px;
}

/* header styles */
.header {
    background-color: #FFF8F3;
    background-image: url(../assets/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
}
.dev-img {
    position: absolute;
    height: 600px;
    top: 50px;
    left: 50px;
}
.header .content {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
}
.header .content-writting {
    padding: 0 0 0 200px;
}
.header .content .profile-picture {
    width: 500px;
    height: 600px;
}
.header .content-sub_title {
    color: var(--font-normal-color);
    font-size: 45px;
    font-weight: 600;
}
.header .content-title {
    color: var(--font-heading-color);
    font-size: 85px;
    font-weight: var(--font-weight-bold);
}
.header .content-description {
    color: var(--font-normal-color);
    font-size: var(--font-size-s);
    padding: 20px 0 0 0;
    width: 585px;
}
.header .content-btns {
    padding: 30px 0 0 0;
}
.header .content-btns .btn-2 {
    margin: 0 0 0 20px;
}

/* About section styles */
#about {
    width: 100%;
    height: 100vh;
    padding: 155px 0 0;
}
#about .about-container {
    background-color: #FFF8F3;
    padding: 100px 110px;
    border-radius: 10px;
}
#about .about-container .info-group {
    display: flex;
    justify-content: center;
    margin: 50px 0 0;
}
#about .about-container .info-group .info-title {
    color: var(--font-normal-color);
    font-size: var(--font-size-m);
}
#about .about-container .info-group .info-value {
    color: var(--menu-font-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
}
#about .about-container .info-group > .info-2, .info-3, .info-4 {
    margin: 0 0 0 50px;
}

/* Work section styles */
#work {
    width: 100%;
    height: 100vh;
    padding: 10px 0 0;
}
#work .work-container .work-group .section-title {
    font-size: var(--font-size-m);
    text-align: left;
    margin: 30px 0 0;
}
#work .work-container .work-group .section-desc {
    font-size: var(--font-size-xs);
    text-align: left;
    margin: 20px 0 0;
    padding: 0 0 30px;
}
#work .work-container .work-group {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0;
}
#work .work-container .work-group > .group-2, .group-3, .group-4 {
    margin: 0 0 0 5px;
}
#work .work-container .work-group > .group-1, .group-2, .group-3, .group-4 {
    padding: 30px 35px;
    background-color: #fff;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}