a {
    text-decoration: none;
}
header > a > h2 {
    text-align: center;
}
nav > ul {
    display: flex;
}
nav > ul > li {
    list-style: none;
}
nav > ul > li > a {
    text-decoration: none;
    margin: 0 0 0 15px;
}